<!DOCTYPE html>
	<html>
		<head>
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-178217366-1"></script>
			<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-178217366-1');
			</script>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="google-site-verification" content="UtvtI9KPilq8sEL4ShxGl_NswLo97hrL9deA23zEj2U" />
		</head>
		<body>
			<nav>
	    		<ul>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/about">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mikejmcfarlane@gmail.com">email</a></li>
	        		<li><a href="https://github.com/mikejmcfarlane">github.com/mikejmcfarlane</a></li>
				</ul>
			</footer>
		</body>
	</html>